# General configurations
GENAI_PRODUCT=co-pqrs
GENAI_NAME=co-pqrs-co_backend_llm
ECS_CONTAINER_METADATA_URI_V4=1-2-3-4-5
GENAI_APPLICATION=co-pqrs
COMPONENT_NAME=co_backend_llm
COMPONENT_DESCRIPTION=Backend de LLM para pqrs Colombia
COMPONENT_VERSION=1.0.0
API_V0_STR=/pqrs/v0
DEFAULT_LOGGING_LEVEL=DEBUG
OTEL_ENDPOINT=https://localhost:4317
PROMPT_REPOSITORY_ROUTE=./resources/chatbots/prompts/ ###./resources/templates/
TRACELOOP_TRACE_CONTENT=true

OPENAI_ENDPOINT=https://genai-pqrsco-lab-co-llm-openai.openai.azure.com/
OPENAI_API_TYPE=azure
OPENAI_SEED=42
OPENAI_API_VERSION=2024-02-01
OPENAI_VERSION=2024-02-01

OPENSEARCH_ENDPOINT=localhost
OPENSEARCH_RETRIES_WAIT=5
OPENSEARCH_MAX_RETRIES=3
OPENSEARCH_USER=admin
OPENSEARCH_PASSWORD=admin

# co_pqrs_back_data service
BACK_DATA_SERVICE_URL=http://localhost:8002