# General configurations
COMPONENT_VERSION=1.0.0
API_V0_STR=/pqrs/v0

DATA_CSV=unifi
CUSTOMER_IDENTITY_SOURCE=postgres
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_CONNECT_TIMEOUT=5
POSTGRES_DATABASE=pqr_db
POSTGRES_USER=pqr_user
POSTGRES_PASSWORD=pqr_password
POSTGRES_CUSTOMER_IDENTITY_TABLE=ada_info_detail
POSTGRES_TABLE_EMB=bgdtemb
POSTGRES_TABLE_DEM=bgdtdem
POSTGRES_TABLE_JOIN=bgdt_salida_join

COMMERCIAL_INFO_SOURCE=mock
COMMERCIAL_INFO_MOCK_DIR=data
COMMERCIAL_INFO_FILE_PREFIX=commercial_info_
COMMERCIAL_INFO_TICKET_URL=https://dev-arqaso.work.co.nextgen.igrupobbva:8050/TechArchitecture/co/grantingTicket/V02
COMMERCIAL_INFO_OVERVIEW_URL=https://dev-arqaso.work.co.nextgen.igrupobbva:8050/risks/v0/commercial-information
COMMERCIAL_INFO_API_USER_ID=ZM12035
COMMERCIAL_INFO_API_CONSUMER_ID=12000035
COMMERCIAL_INFO_API_AUTHENTICATION_TYPE=04
COMMERCIAL_INFO_API_PASSWORD=PTDada2026_PQRS
COMMERCIAL_INFO_API_VERIFY_SSL=false
COMMERCIAL_INFO_API_TIMEOUT=30
COMMERCIAL_INFO_API_CUSTOMER_ID_LENGTH=15

#OPENSEARCH_ENDPOINT=host.containers.internal
OPENSEARCH_ENDPOINT=localhost
OPENSEARCH_RETRIES_WAIT=5
OPENSEARCH_MAX_RETRIES=3
OPENSEARCH_USER=admin
OPENSEARCH_PASSWORD=admin
OPENSEARCH_SCHEME=https
OPENSEARCH_VERIFY_SSL=false
OPENSEARCH_TIMEOUT=30
OPENSEARCH_CLIENT_CONTROL_INDEX=client-control-table
